/* #region COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #1b1b1b;
  --logo: #e4131a;
}

.container {
  width: 98%;
  margin: auto;
}

body {
  padding-top: 1rem;
  background-color: var(--body-bg);
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}
/* #endregion COMMON */

/* #region HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 148px;
      margin-right: 4rem;
      cursor: pointer;

      & svg {
        display: block;
        color: var(--logo);
        fill: currentColor;
      }
    }

    & nav ul {
      display: flex;
      gap: 1.7rem;

      & li {
        & a {
          text-decoration: none;
          color: white;
          display: inline-block;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .search-bar {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 8px;

    & input {
      background-color: transparent;
      border: none;
      color: white;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}
/* #endregion HEADER */

/* #region MAIN */
main {
  & h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 1.5rem;
  }
}
/* #endregion MAIN */
